/* Edit Product Popup Modal */
#editProductModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    overflow: auto; /* Enable scrolling if content overflows */
}

    /* Modal content */
    #editProductModal .modal-content {
        background-color: #fefefe; /* White background */
        margin: auto;
        padding: 20px;
        width: 60%; /* Adjust width as desired */
        max-width: 500px; /* Set maximum width */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add box shadow for depth */
        border-radius: 10px; /* Add border radius for rounded corners */
        position: absolute; /* Position absolute for centering */
        top: 50%; /* Place at 50% from the top */
        left: 50%; /* Place at 50% from the left */
        transform: translate(-50%, -50%); /* Translate back by half of its own width and height */
    }

    /* Close button */
    #editProductModal .close {
        position: absolute;
        top: 10px; /* Adjust top position */
        left: 10px; /* Adjust left position */
        font-size: 24px;
        color: #281158; /* Match close button color with Add Product popup */
        cursor: pointer;
    }

        /* Close button hover effect */
        #editProductModal .close:hover {
            color: #EE2D60; /* Change color on hover */
        }


    /* Welcome line */
    #editProductModal #welcome-lines {
        text-align: center;
        margin-bottom: 20px;
    }

    #editProductModal #welcome-line-1 {
        font-size: 24px;
        font-weight: bold;
        font-size: 35px;
        color: #281158; /* Adjust color as needed */
    }

    /* Product image */
    #editProductModal #editProductImage {
        width: 100px; /* Set width to 100px */
        height: 100px; /* Set height to 100px */
        margin: 0 auto 20px auto; /* Center the image preview horizontally with margin */
    }

    #editProductModal #editProductImg {
        width: 100%; /* Fill the entire width of the image container */
        height: 100%; /* Fill the entire height of the image container */
        object-fit: cover; /* Maintain aspect ratio while covering the container */
        margin-bottom: 10px;
    }

    #editProductModal #edit-image-upload-btn {
        margin-bottom: 20px;
        padding: 10px 20px;
        background-color: #EE2D60; /* Match button color with SignUp popup */
        color: #fff; /* White text color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 0 auto 20px auto; /* Center horizontally with margin */
        font-size: 16px; /* Increase font size */
    }

        #editProductModal #editProductImage button:hover {
            background-color: #281158; /* Change background color on hover */
        }


    /* Edit Product form fields */
    #editProductModal input[type="text"] {
        width: calc(100% - 40px);
        padding: 10px 20px;
        margin-bottom: 20px;
        border: 1px solid #e3e3e3; /* Match border color with Add Product popup */
        border-radius: 8px; /* Match border radius with Add Product popup */
        display: block;
        margin: 0 auto 20px auto; /* Center horizontally with margin */
        text-align: center; /* Center placeholder text */
        background: #e4e4e4;
        font-size: 16px; /* Increased font size */
    }

    /* Popularity radio buttons */
    #editProductModal #editPopularity-radio {
        text-align: center;
        margin-bottom: 20px;
    }

        #editProductModal #editPopularity-radio label {
            margin: 0 10px;
            font-size: 16px; /* Increased font size */
        }

    /* Save Changes button */
    #editProductModal .save-changes-btn {
        width: calc(100% - 40px);
        padding: 15px 20px; /* Increased padding */
        font-size: 20px; /* Increased font size */
        background-color: #EE2D60; /* Match button color with Add Product popup */
        color: #fff; /* White text color */
        border: none;
        border-radius: 8px; /* Match border radius with Add Product popup */
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: block;
        margin: 0 auto; /* Center horizontally with margin */
        font-weight: bold;
    }

        /* Save Changes button hover effect */
        #editProductModal .save-changes-btn:hover {
            background-color: #281158; /* Change background color on hover */
        }
