
/* main side screen */
#notify_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    display: none;
    justify-content: center;
    align-items: center;
}

#modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.notifies-title {
    text-align: center;
}

.notify-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#closeNotificationModalBtn{
    border: none;
    background-color: white;
}


